:root {
  --font-family: 'Noto Sans JP';
  --red: red;
  --cream:#fffdd0;
}



/* font */
.font-family {
  font: var(--font-family)
}

/* height */
.height-16px {
  height: 16px
}

/* width */
.width-100pct {
  width: 100%
}

/* color */
.color-red {
  color: var(--red);
}
.color-background-cream {
  background-color: var(--cream);
}

/* display */
.display-flex {
  display: flex;
}

/* justify */
.justify-content-center {
  justify-self: center;
}

/* align */
.align-items-center {
  align-items: center;
}