:root {
  --font-family: 'Noto Sans JP';
  --red: red;
  --cream:#fffdd0;
}

.link {
  background-color: #dcdcdc; /* ホバー時の色 */
  color: #555; /* ホバー時のテキストカラー */
  padding: 5px 10px;
  margin-right: 10px;
  text-decoration: none;
}

.link:hover {
  background-color: #f5deb3;
  color: #333;

}




/* font */
.font-family {
  font: var(--font-family)
}

/* height */
.height-16px {
  height: 16px
}

/* width */
.width-100pct {
  width: 100%
}

/* color */
.color-red {
  color: var(--red);
}
.color-background-cream {
  background-color: var(--cream);
}

/* display */
.display-flex {
  display: flex;
}

/* justify */
.justify-content-center {
  justify-self: center;
}

/* align */
.align-items-center {
  align-items: center;
}